# Copy this file to env.yml, then add your secrets.

# Used by Rails to verify the integrity of signed tokens. Generate a new,
# random one with 'rake secret'
SECRET_KEY_BASE=123

# From your Intuit App account.
QB_CONSUMER_KEY=456
QB_CONSUMER_SECRET=789
