<p>
  Here is the information you'll need for your FlowLink QuickBooks Integration's configuration screen:
</p>
<ul>
  <li>Token: <%= @token %></li>
  <li>Secret: <%= @secret %></li>
  <li>Realm ID: <%= @realm_id %></li>
</ul>

<p>Customers: <%= @customers.inspect %>
